{% load static %}
  <!DOCTYPE html>
  <html>
  <head>           
      <div class="curseer"></div>

   
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>CodeMusic</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.22.0/mediaelementplayer.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'musicplayer/style/style.css' %}">
    <link  rel="stylesheet" type="text/css" href="{% static 'musicplayer/style/music.css' %}">
  </head>
  <body id="good"  class="body" >
    <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light color ">
      <a class="navbar-brand" href="#"><h1>CodeMusic</h1><h6>powerd by PePer</h6></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
           <p class="nav-link">hello,{{user.username}}</p></li>
           <li class="nav-item">
            <a class="nav-link" href="logout">Logout</a>
          </li>   
          {% else %}
           <li class="nav-item">
            <a class="nav-link" href="/"> Login </a>
          </li>
          {% endif %}
        </ul>
        <!--form class="form-inline my-2 my-lg-0" action='song' method='POST'>{% csrf_token %}
          <input class="form-control mr-sm-2" id="searching" type="search" name='search' placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form!-->
      </div>
    </nav>
     
          <!--form class="form-inline my-2 my-lg-0" action='song' method='POST'!-->
            
  <div class=" center top ">
     {% if user.is_authenticated %}
   <input class="form-control mr-sm-2" type="text" id="searching" name="search" placeholder="please Search for Song "> <br/>
   
     <input  type="hidden" id="userid" name="user" value="{{user.id}}"> 
  <button class="btn  my-2 my-sm-0 " onclick="loadXMLDoc()" type="submit">search</button>
  <img id="bac" class="initialbaground"
    src="{% static 'musicplayer/image/search.svg' %}" 
    alt="Search" />

  </div >
  <hr/>
{% block content %}
<div id="demo"></div>
{% endblock %}  
 
 {% else %}
 <h1> its a closed for outsiders</h1>
 <h2> join us if your down for a registration ;)</h2>
   <button class="btn  my-2 my-sm-0  " ><a style="color:black;" href="/"> register </a></button>
 <img  
    src="{% static 'musicplayer/image/error.svg' %}" 
    alt="error"
    style="position: absolute; width: 100%; right:0; top:0; z-index: -10; " />
   
      {% endif %}
<!--div id="player">
<audio id="myAudio" ><source src="https://aac.saavncdn.com/965/cd4a9fb027c76d50a6d530e3ce6d47f1_160.mp4" type="audio/mpeg">  Your browser does not support the audio tag.</audio>
</div>
<div id ="codepla stop" >
 <div class="alb"></div>
  <button id="psbtn" class='btn btn-light  theme' onclick="pauseSong()">pause</button>
   <button id="plybtn" class='btn btn-light  theme'onclick="playss()"> play</button>      
</div>
  </div!-->
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.22.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.22.0/mediaelement-and-player.min.js"></script>
  <script type="text/javascript" src="{% static 'musicplayer/js/player.js' %}"></script>
<script type="text/javascript" src="{% static 'musicplayer/js/webapp.js' %}"></script>
<script type="text/javascript" src="{% static 'musicplayer/js/jquery.adaptive-backgrounds.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
  </body>
  </html>